DB_NAME= database name
DB_HOST= database host
DB_PORT= database port
DB_USERNAME=username postgres
DB_PASSWORD= password postgres


APP_HOST=host del back

CLOUDINARY_CLOUD_NAME=claudynary name
CLOUDINARY_API_KEY= claudynary key
CLOUDINARY_API_SECRET=claudynary api_secret

JWT_SECRET=MiSuperClave 

GOOGLE_CLIENT_ID=tu-client-id
GOOGLE_CLIENT_SECRET=tu-client-secret